<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle service management</title>
</head>
<body style="text-align: center; background-image: url({{url_for('static', filename='images/sign-up img.jpg')}});
                                background-repeat: no-repeat; background-position: 50% -105%;">
    <h1 style="color: blue; font-family: cursive;">Welcome to vehicle service management!</h1>
    <h3><a href="/sign-up/user" style="color: blue;">Sign up as user</a></h3>
    <h3><a href="/login/user" style="color: blue;">Log in as user</a></h3>
    <h3><a href="/login/admin" style="color: blue;">Log in as admin</a></h3>
</body>
</html>
