{% extends "base.html" %}
{% block content %}
<body style="background-image: url({{url_for('static', filename='images/profile-bg.jpg')}}); background-repeat: no-repeat;
                background-size: 147%">
    {% block bootstrap %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="topnav" id="myTopnav">
            <a href="/dashboard">Dashboard</a>
            <a href="/service-request">Service Request</a>
            <a href="/profile" class="active">Profile</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    {% endblock %}
    <h1 style="text-align: center; font-family: cursive; color: blue;">Update password</h1>
    <br /><br />
    <div class="update-password" style="width: 400px; height: 187px; border: 5px solid black; margin: auto; text-align: center;">
        <form action="#" method="post">
            <h4 style="display: inline-block;">Current password: </h4>
            <input placeholder=" Current password" align="center" name="current_password" style="border-radius: 10px; display: inline-block;" />
            <br />
            <h4 style="display: inline-block;">New password:</h4>
            <input placeholder=" New password" align="center" name="new_password" style="border-radius: 10px; display: inline-block;" />
            <br /><br />
            <button style="background-color: blue; align: center; border-radius: 10px;">Change password</button>
        </form>
    </div>
{% endblock %}